.DS_Store
package-lock.json
node_modules
.metals
*.log
.idea
.idea_modules
*.bak
.users
.srl
.target
.bsp
ui/build
ui/.idea.dart_tool
ui/.dart_tool
ui/.flutter-plugins-dependencies
.flutter-plugins
.packages
target
out
shared-src
.vertx/
rest/src/test/resources/savedSessions
rest/src/test/resources/database-states
