<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>Rest: %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="pipelines" level="debug" />
    <logger name="pipelines.rest.routes.StaticFileRoutes" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
